.projects {
  display: flex;
  flex-direction: column;
  gap: 2em;
  max-width: 75%;
}
.project {
  border: solid 2px #fff;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  transition: ease-in-out 0.2s;
}
.project:hover {
  background-color: #fff;
  cursor: pointer;
  box-shadow: inset 3px 5px 6px rgba(0, 0, 0, 0.54);
}
.project:hover > .project-info > .project-title {
  color: #151515;
}
.project:hover > .project-info > .keywords {
  color: #151515;
}
.image-container {
  width: 70%;
  display: flex;
  justify-content: right;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 16px 16px 16px 0px;
}
.project-info {
  width: 50%;
  padding: 2em;
}
.project-title {
  font-family: "ARSBOLD", sans-serif;
  font-size: 2em;
  color: #fff;
  margin: 0px;
  font-weight: 900;
}
.keywords {
  font-family: "ARSBOLD", sans-serif;
  color: #fff;
  line-height: 1.5em;
}
@media only screen and (max-width: 1180px) {
  .projects {
    max-width: 100%;
  }
}
@media only screen and (max-width: 765px) {
  .project {
    flex-wrap: wrap-reverse;
  }
  .image-container {
    width: 100%;
  }
  .project-info {
    width: 75%;
  }
}
